.home-body {
    @apply pt-14 flex h-screen w-screen;
    background-color: var(--bg-tertiary-alt);
}

.home-header {
    @apply flex flex-col justify-center items-center mt-16 w-full text-center;
    height: max-content;
    font-family: var(--font-primary);
}

.home-header-title {
    @apply text-white text-4xl font-bold my-4;
}

.home-header-desc {
    max-width: 38rem;
    color: var(--colour-primary);
}

.home-buttons-container {
    @apply flex flex-row items-center justify-center relative w-full py-3 my-3 gap-8;
}

.home-login-main {
    @apply px-6 py-3 text-white rounded shadow-md text-sm;
    background-color: var(--bg-blurple);
    font-family: var(--font-primary);
}

.home-github-main {
    @apply px-6 py-3 text-gray-900 shadow-md font-bold bg-gray-100 rounded text-sm;
    font-family: var(--font-primary);
}