.modal-body {
    @apply flex justify-center items-center h-screen w-screen;
}

.login-register {
    @apply mt-1 text-sm;
    font-family: var(--font-primary);
    color: var(--colour-muted);
}

.login-register-below {
    @apply mt-2 mb-5 ml-4 text-sm;
    font-family: var(--font-primary);
    color: var(--colour-muted);
}


.register-button {
    @apply mt-1 font-bold text-[#0b96ce];
}

.modal-err-desc {
    @apply text-red-500 mt-2 text-sm flex;
    font-family: var(--font-primary);
}

/* Modal Header */

.modal-underbody {
    @apply flex justify-center items-center absolute z-[99999999] h-screen w-screen bg-black bg-opacity-60;
    /* visibility: hidden; */
    opacity: 0;
    pointer-events: none;
    /* visibility: visible; */
    transition: opacity 300ms ease-in;
}

.modal-underbody.show {
    /* visibility: visible; */
    opacity: 1;
    pointer-events: all;
}

.modal-container-app {
    @apply flex flex-col w-[440px] rounded;
    transform: scale(0.5);
    opacity: 0;
    overflow: hidden;
    transition: transform 100ms ease-in, opacity 100ms ease-in, margin-bottom 100ms ease-in;
}

.modal-container-app.show {
    transform: scale(1);
    margin-bottom: 0;
    opacity: 1;
    max-height: max-content;
    transition: transform 200ms ease-in, opacity 150ms ease-in, margin-bottom 150ms ease-in;
}

.modal-container {
    @apply flex flex-col w-[440px] rounded px-2;
    transform: scale(0.7);
    margin-bottom: 20px;
    opacity: 0;
    transition: transform 150ms ease-in-out, opacity 150ms ease-in-out, margin-bottom 150ms ease-in-out;
}

.modal-container.show {
    transform: scale(1);
    margin-bottom: 0;
    opacity: 1;
}


.modal-form-header {
    @apply flex flex-col items-center justify-center mt-8;
}

.modal-header-title {
    @apply text-white font-bold text-xl;
    font-size: 27px;
    line-height: 30px;
    font-family: var(--font-primary);
}

.modal-header-desc {
    color: var(--colour-channels);
    font-family: var(--font-primary);
    font-weight: 500;
}

.modal-form-input-header.error-invite {
    @apply text-red-500;
}

.modal-form-header-app {
    @apply flex flex-col items-center justify-center mt-8 px-6 text-center;
}

.modal-form-header-app.small-header > .modal-header-title-app {
    font-family: var(--font-display);
    font-size: 20px;
    font-weight: 500;
    margin-right: auto;
    margin-left: 0px;
}

.modal-form-header-app.small-header > .modal-header-desc-app {
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 500;
    color: var(--colour-primary);
    margin: 0.5rem auto 0 0;
}

.modal-form-header-app.small-header {
    margin: 0.5rem auto 0rem 0;
}

.modal-header-desc-app.smaller-text.error-modal-app {
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 600;
    color: var(--colour-error);
    text-align: left;
}

.modal-form-header-app.small-header {
    padding: 0 1rem 0 1rem;
    margin: 1rem 0 0 0;
    font-size: 18px;
}


.modal-header-title-app {
    @apply text-white font-bold ml-6;
    font-size: 20px;
    font-size: 27px;
    line-height: 30px;
    font-family: var(--font-primary);
}

.modal-header-desc-app {
    display: flex;
    margin-top: 8px;
    font-size: 14px;
    color: var(--colour-channels);
    font-family: var(--font-primary);
    font-weight: 500;
}

.modal-header-desc-app.smaller-text{
    font-size: 16px;
    font-weight: 400;
}

/* Modal Slect Type */

.modal-select-container {
    @apply flex flex-col px-4 my-5
}

.modal-select-header {
    @apply my-2 w-full text-xs;
    font-family: var(--font-display);
    color: var(--colour-primary);
}

.modal-type-container {
    @apply flex flex-col gap-2;
}

.modal-select-type {
    @apply flex flex-row h-14 items-center px-3 gap-2 rounded cursor-pointer;
    background-color: var(--bg-secondary);
    color: var(--colour-primary);
    font-family: var(--font-primary);
    font-weight: 500;
}

.modal-selected-type {
    background-color: var(--bg-tertiary);
}

.modal-select-hover:hover {
    background-color: var(--bg-primary-alt);
}

.select-check-wrapper {
    @apply flex justify-center items-center h-5 w-5 bg-white rounded-full
}

.select-check {
    @apply h-4 w-4 rounded-full border-[3px];
    background-color: var(--bg-blurple);
    border-color: var(--bg-secondary);
}

.unselect-check-wrapper {
    @apply flex justify-center items-center h-5 w-5 bg-white rounded-full
}

.unselect-check {
    @apply h-4 w-4 rounded-full border-[3px];
    background-color: var(--bg-secondary);
    border-color: var(--bg-secondary);
}


.select-type-icon {
    @apply h-4 w-4;
}

.select-type-info {
    @apply flex flex-col gap-[2px];
}

.select-type-name {
    @apply font-normal;
    font-family: var(--font-display);
    font-weight: 800;
    line-height: 16px;
    color: var(--colour-normal);
}

.select-type-desc {
    line-height: 12px
}

/* Modal Input */
.modal-form-input-container {
    @apply flex flex-col px-4 my-5;
}

.modal-form-input-header {
    @apply my-2 w-full text-xs;
    font-family: var(--font-display);
    font-weight: 500;
    color: var(--colour-primary);
}

.modal-form-input-container > input {
    font-weight: 400;
    font-family: var(--font-primary);
}

.modal-form-input {
    @apply h-10 border-[1px] border-opacity-30 border-black rounded outline-none px-2;
    user-select: all;
    background-color: var(--bg-secondary);
    color: var(--colour-normal);
    font-weight: 400;
    font-family: var(--font-primary);
}

.modal-form-input::placeholder {
    color: hsla(0, 0%, 100%, 0.3);
}

.modal-form-input:hover {
    @apply border-opacity-80;
}

/* Options */

.options-container {
    @apply flex flex-row h-[70px] rounded rounded-t-none mt-auto items-center justify-end px-5 gap-2;
}

.options-container.small-header {
    margin-top: 2rem;
}

.submit-button {
    height: 36px;
    padding: 0 1.5rem 0 1.5rem;
    color: white;
    border-radius: 0.2rem;
    background-color: var(--bg-blurple);
    font-family: var(--font-primary);
    font-size: 14px;
    font-weight: 500;
}
.submit-button.err {
    background-color: var(--bg-error);
}.submit-button.err:hover {
    background-color: var(--bg-error-hover);
}

.submit-button:hover {
    background-color: var(--bg-blurple-hover);
    transition: background-color 150ms ease-in;
}

.submit-button-long {
    @apply px-4 mx-4 h-[44px] text-white rounded;
    background-color: var(--bg-blurple);
    font-size: 16px;
    line-height: 24px;
    font-family: var(--font-primary);
    font-weight: 500;
    transition: background-color 150ms ease-in;
}

.submit-button-long:hover {
    background-color: var(--bg-blurple-hover);
}

.cancel-button {
    @apply h-[38px] text-white rounded text-sm;
    font-family: var(--font-primary);
    font-weight: 500;
    padding-right: 1rem;
    padding-left: 0.4rem;
}

.cancel-button:hover {
    text-decoration: underline;
}

.yellow-warning-text {
    font-family: var(--font-primary);
    font-size: 16px;
    text-align: left;
    width: 100%;
    background: #fba81b;
    padding: 0.55rem 0.5rem 0.55rem 0.5rem;
    border-radius: 0.2rem;
    line-height: 20px;
    color: white;
    margin-bottom: 0rem;
    margin-top: 1rem;
}